@use '@/styles' as *;

.button {
    display: inline-block;
    padding: $spacer $spacer*2;
    background: $primary-color;
    color: #FFF;
    border: 0;
    border-radius: $spacer;
    font-family: $text-font;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
}
.block {
    display: block;
    text-align: center;
    width: 100%;
}
.lg {
    font-weight: bold;
    padding: $spacer*1.5 $spacer*3;
}
.outline {
    border: 1px solid $primary-color;
    color: $primary-color;
    background: transparent;
}

.disabled {
    opacity: .7;
}
.link {
    background: none;
    color: $primary-color;
}