@use '@/styles' as *;

.calendar {
    span[class~="p-calendar"] {
        width: 100%;
    }
    table td > span {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        transition: box-shadow 0.2s;
        border: 1px solid transparent;
        font-weight: bold;
    }
    table [class~="p-datepicker"] {
        width: 100% !important;
    }
    table [class~="p-datepicker-today"] > span {
        background: #d1d5db;
        color: #4b5563;
        border-color: transparent;
    }
    table td > [class~="p-highlight"] {
        color: #0e7490;
        background: #ecfeff;
    }
    table td > [class~="p-disabled"] {
        color: #afafaf;
        font-weight: normal;
    }

    [class~="p-datepicker-header"] {
        //padding: $spacer/2 $spacer;
        padding-bottom: $spacer*2;
        color: $primary-color;
        background: #FFF;
        > button {
            border: 0;
            background: transparent;
            color: $primary-color;
        }
    }

    table th {
        padding: $spacer 0;
    }

    [class~="p-datepicker-month"] {
        font-weight: bold;
        margin-right: $spacer/2;
        text-transform: capitalize;
    }

    > [class~="p-highlight"] {
        font-weight: bold;
    }
}

.step {
    font-weight: bold;
}