.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 50px;
    h2 {
        margin-top: 0;
    }
}

.map {
    width: 800px;
    display: grid;
    gap: 1px;
}
.seat {
    aspect-ratio: 1;
background: #FFF;
    position: relative;
    &.selected {
        background: #deec9a;
    }
    font-size: 9px;
    line-height: 8px;
    text-align: center;
    strong,span {
        display: block;
    }
}