@use "@/styles" as *;

.grid {
    display: grid;
    gap: $grid-gutter-width;
    grid-template-columns: 1fr;
    column-gap: $grid-gutter-width;
}
.thumbs {
    @include media-query("sm") {
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    }
}
.two {
    @include media-query("sm") {
        grid-template-columns: 3fr 9fr;
    }
}
.three {
    @include media-query("sm") {
        grid-template-columns: 3fr 4.5fr 4.5fr;
    }
}
.checkout {
    @include media-query("sm") {
        grid-template-columns: 8fr 4fr;
    }
}
