@use "@/styles" as *;

.grid {
    display: grid;
    row-gap: $grid-gutter-width;
    grid-template-columns: 1fr;
}
.thumbs {
    display: flex;
    flex-direction: column;
    row-gap: $grid-gutter-width;
    @include media-query("sm") {
        // display: grid;
        // row-gap: $grid-gutter-width;
        // grid-template-columns: 1fr;
        // grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        // column-gap: $grid-gutter-width;
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        gap: $grid-gutter-width;
        justify-content: center;
    }
    > * {
        @include media-query("sm") {
            max-width: 244px;
            flex: 1 1 244px;
            justify-content: center;
            align-items: center;
        }
    }
}
.two {
    @include media-query("lg") {
        grid-template-columns: 8fr 4fr;
        column-gap: $grid-gutter-width;
    }
}
.three {
    @include media-query("lg") {
        grid-template-columns: 3fr 4.5fr 4.5fr;
        column-gap: $grid-gutter-width;
    }
}
.checkout {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    @include media-query("sm") {
        display: grid;
        grid-template-areas: "checkout cart";
        grid-template-columns: 7fr 5fr;
        column-gap: 0;
    }
}
