@use "../styles" as *;

.productContent {
    padding-top: $spacer * 16;
    padding-bottom: $spacer * 12;
}

.productContainer {
    position: relative;
    z-index: 2;
}

.productHeader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    background-image: url('/assets/img/home-bg.webp');
    &:after {
        content: "";
        display: block;
        position: absolute;
        inset: 0;
        backdrop-filter: blur(8px) brightness(0.7);
        z-index: 0;
    }
}

.organizer {
    color: #fff;
    margin: 0;
    a {
        color: #fff;
        text-decoration: underline;
    }
    span {
        padding: 0 $spacer;
    }
}

// .col {
//     @include media-query("md") {
//         position: relative;
//         &:before {
//             content: "";
//             position: absolute;
//             background-color: $light-color;
//             z-index: 1;
//             inline-size: 1px;
//             block-size: 100%;
//             inset-inline-start: $spacer * -3;
//         }
//     }
// }
.col {
    margin-top: $spacer * 3;
    padding-top: $spacer * 3;
    border-top: 1px solid $light-color;
}

.tickets {
    margin-top: $spacer * 6;
}

.thumbnail {
    border-radius: $spacer;
    width: 100%;
    height: auto;
    aspect-ratio: 4/3;
    object-fit: cover;
    display: none;
    @include media-query("lg") {
        display: block;
    }
}

.venueTickets {
    flex-direction: column;
    @include media-query("sm") {
        flex-direction: row;
    }
}