@use '@/styles.scss' as *;

.top {
    background: $dark-color;
    color: #fff;
    font-size: 0.8125rem;
    padding: 14px 0;
    position: relative;
    z-index: 10;
    display: none;
    > div {
        display: flex;
        justify-content: space-between;
    }

    a {
        color: #fff;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    @include media-query('sm') {
        display: block;
    }
}
.langnav {
    a {
        margin-right: $spacer * 2;
    }
}
.topnav {
    a {
        margin-left: $spacer * 2;
    }
}
.logo {
    a {
        display: block;
        svg {
            display: block;
        }
    }
}

.header {
    background-color: rgba($primary-color, 0.9);
    color: #fff;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 10;
    > div {
        position: relative;
        z-index: 1;
        padding-top: $spacer*1.5;
        padding-bottom: $spacer*1.5;
    }
}

.headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $spacer*2;
    // flex-direction: column;
    // @include media-query('sm') {
    //     flex-direction: row;
    // }
}
.headerContentSm {
    display: block;
    margin-top: $spacer*2;
    @include media-query('sm') {
        display: none;
    }
}

.homeheader {
    position: relative;
    background-image: url("/assets/img/home-bg.webp");
    background-position: center 80%;
    background-size: cover;
    min-height: 384px;
    // margin-bottom: -28px;
    &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        height: 300px;
        z-index: 0;
        background: linear-gradient(
            180deg,
            $primary-color 14.87%,
            rgba($primary-color, 0.64) 36.16%,
            rgba($primary-color, 0) 80.36%
        );
    }
    @include media-query('sm') {
        min-height: 360px;
    }
}
.solid {
    background-color: $primary-color;
}

.search {
    display: none;
    @include media-query("sm") {
        display: block;
    }
}

.menuButton {
    background: transparent;
    border: 0;
    position: relative;
    cursor: pointer;
    display: block;
    @include media-query('sm') {
        display: none;
    }
    svg {
        color: #FFF;
    }
}

.mobileNav {
    display: none;
    width: 100%;
    padding: $spacer*2;
    background: $dark-color;
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 10;
    a {
        color: #FFF;
        text-decoration: none;
    }
    .search {
        display: block;
    }
    @include media-query('sm') {
        display: none !important;
    }
}
.menuOpen {
    display: block;
}