$colors: (
    primary: #007fb6,
    secondary: #004c7e,
    success: #28a745,
    danger: #dc3545,
    warning: #ffc107,
    //info: #BCCCCF,
    info: #bbbab9,
    light: #efede9,
    white: #FFFFFF,
    dark: #132437,
    //faded: #698A8F
    faded: #817f7c
);

$primary-color: map-get($colors, primary);
$secondary-color: map-get($colors, secondary);
$success-color: map-get($colors, success);
$danger-color: map-get($colors, danger);
$warning-color: map-get($colors, warning);
$info-color: map-get($colors, info);
$light-color: map-get($colors, light);
$dark-color: map-get($colors, dark);
$faded-color: map-get($colors, faded);
$body-color: $dark-color;

$text-font: "Figtree", sans-serif;
$heading-font: "Figtree", serif;

$spacer: 0.5rem;
$grid-gutter-width: $spacer*3;

$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px,
);
