@import 'variables';
@import 'fonts';

html {
    scroll-padding-top: 100px;
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    font-family: "Figtree", sans-serif;
    background: #FFF;
    color: $body-color;
    font-smooth: antialiased;
}

// h1,h2,h3,h4 {
//     font-weight: 400;
// }

a {
    color: $secondary-color;
    &:hover {
        color: $primary-color;
    }
}

p {
    margin-top: 0;
}
button, input {
    font-family: inherit;
    font-size: inherit;
}

* {
    box-sizing: border-box;
}

.fc .fc-view-harness-active > .fc-view {
    background: #FFF;
}

.react-transform-component,
.react-transform-wrapper {
    width: 100% !important;
}

hr {
    border-top: 1px solid $light-color;
    height: 0;
    border-bottom: 0;
}

.site-main {
   background-color: $light-color;
}