@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Text&display=swap');
@import 'variables';
// @import 'bootstrap/scss/bootstrap-grid';

body {
    margin: 0 auto;
    font-family: "DM Sans", sans-serif;
    background: $light-color;
    color: $body-color;
    font-smooth: antialiased;
}

a {
    color: $primary-color;
}

p {
    margin-top: 0;
}
button, input {
    font-family: inherit;
    font-size: inherit;
}

* {
    box-sizing: border-box;
}

.fc .fc-view-harness-active > .fc-view {
    background: #FFF;
}