@import '@/styles';

.footer {
    border-top: 1px solid $light-color;
    // margin-top: $spacer*6;
    padding: $spacer*4;
    // background: $dark-color;
    // color: $light-color;
    background: #FFF;
    color: $dark-color;
}
.logo {
    width: 150px;
    height: auto;
}