.search {
    width: 320px !important;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    input {
        &::placeholder {
            color: rgba(255, 255, 255, 0.7);
        }
    }
    &.focused {
        border: 1px solid rgba(#FFF,.5);
    }
}
