@use "../../styles" as *;

$max-width: 400px;

.cart {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;

    background: #FFF;
    padding: $spacer*3;
    right: calc(-1 * min($max-width,100vw));
    width: $max-width;
    box-sizing: border-box;
    z-index: 10;
    max-width: 100%;
}

.item {
    
}

.visible {
    display: block;
    animation: slide 0.5s forwards;
}

@keyframes slide {
    100% { right: 0; }
}