@use '@/styles.scss' as *;

.card {
    background: #FFF;
    padding: $spacer*4;
    border-radius: $spacer;
    p {
        margin-top: 0;
        margin-bottom: $spacer;
        max-width: 760px;
    }
    p:last-child {
        margin-bottom: 0;
    }
}
.hasTabs {
    border-radius: 0 $spacer $spacer $spacer;
}