$enable-rounded: false;
$enable-shadows: false;
//$font-family-sans-serif: 'IBM Plex Sans', sans-serif;

$primary: 		#0048B6;
//$primary:        #98D856 !default;
$secondary:     #132437 !default;
$success:       rgb(124, 193, 5) !default;
//$info:          $cyan !default;
//$warning:       $yellow !default;
$danger:				#d9534f;
$light:         #E7E9E6 !default;
$dark:          #132437 !default;

$grid-gutter-width: 20px;
$line-height-base: 1.3;
$headings-font-weight: bold;

$font-weight-base: normal;

$font-family-sans-serif: 'Inter', sans-serif;

$link-decoration: none;