$purple: #921f44;
$orange: #f18616;
$grey: #575756;

@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@400;700&display=swap");
@import 'bootstrap/scss/bootstrap';

body.jocomproasolsona {
  color: $grey;
  font-family: "Open Sans", sans-serif;

  h1,
  h2,
  h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
  }

  .lobster {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
  }

  .btn {
    border-radius: 0;
  }
  .btn-dark {
    background: #000;
  }
  .btn-outline-dark {
    border: 1px solid #000;
  }

  .comproasolsona-top,
  .dubtes {
    padding: 10px 20px;
    color: #fff;
    text-align: center;
    background: $grey;
    font-weight: bold;
    font-size: 20px;
    a {
      color: #fff;
    }
    @include media-breakpoint-down(sm) {
      font-size: 16px;
    }
  }

  .comproasolsona-header {
    background-image: url("/assets/ensolsonat/img/header.jpg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    color: #fff;
    padding-top: 30px;
  }

  .header-col {
    padding: 60px 100px;
    @include media-breakpoint-down(lg) {
      padding: 30px 50px;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include media-breakpoint-down(sm) {
      grid-template-columns: 1fr;
    }
  }

  .comproasolsona-logo {
    max-width: 100%;
    height: auto;
    @include media-breakpoint-down(sm) {
      display: block;
      width: 400px;
      margin: 0 auto;
    }
  }

  h1 {
    margin: 0 0 40px 0;
    font-family: "Lobster", sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 1.1;
    @include media-breakpoint-down(lg) {
      font-size: 38px;
    }
  }
  h2 {
    font-size: 54px;
    @include media-breakpoint-down(lg) {
      font-size: 30px;
    }
  }
  h3 {
    font-size: 38px;
    @include media-breakpoint-down(lg) {
      font-size: 28px;
    }
    @include media-breakpoint-down(sm) {
      font-size: 22px;
      line-height: 1.1;
    }
  }

  .butlletes {
    padding: 40px 150px 40px 100px;
    background-image: linear-gradient(100deg, rgba(#fff, 0.2), rgba(#fff, 0.2) 82%, transparent 82.1%, transparent);
    h3 {
      margin-top: 0;
      margin-bottom: 20px;
      font-weight: normal;
    }
    @include media-breakpoint-down(md) {
      padding: 30px 80px 30px 60px;
    }
    @include media-breakpoint-down(sm) {
      margin-bottom: 30px;
    }
  }

  .form-codi {
    h3 {
      margin: 0 0 20px 0;
    }
    padding: 50px 100px;
    @include media-breakpoint-down(lg) {
      padding: 30px 60px;
    }
    background-image: linear-gradient(100deg, transparent, transparent 12%, rgba(#fff, 0.2) 12.1%, rgba(#fff, 0.2));
    //backdrop-filter: blur(5px);
    text-align: center;
    .input-codi {
      max-width: 280px;
      background: #fff;
      font-family: 'Courier New', Courier, monospace;
      font-size: 18px;
      color: $grey;
      text-align: center;
      border: 1px solid $grey;
      padding: 20px 20px;
      margin: 0 0 20px 0;
      width: 100%;
    }
    .envia-codi {
      background: $grey;
      color: #fff;
      padding: 10px 20px;
      font-weight: bold;
      font-family: "Open Sans", sans-serif;
      border: 0;
      font-size: 20px;
    }
  }

  .comproasolsona-comfunciona {
    background: #fff;
    padding: 50px 30px;
    text-align: center;
    max-width: 750px;
    margin: 0 auto;
    p strong {
      color: $purple;
    }
  }
  .text-gradient {
    color: $purple;
    background-image: linear-gradient(90deg, $purple, $orange);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    line-height: 1.1;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }

  .bg-purple,
  .bg-orange {
    color: #fff;
    display: flex;
    align-items: center;
    height: 100%;
    color: #fff;
    div {
      padding: 60px 100px;
      @include media-breakpoint-down(md) {
        padding: 30px 50px;
      }
    }
    h3 {
      margin-top: 0;
      margin-bottom: 30px;
    }
  }
  .bg-purple {
    padding-right: 50px;
    justify-content: flex-start;
    background: $purple;
    background: linear-gradient(80deg, $purple, $purple 88%, #fff 88.1%, #fff);
  }
  .bg-orange {
    padding-left: 50px;
    justify-content: flex-end;
    background: $orange;
    background: linear-gradient(80deg, white, white 12%, $orange 12.1%, $orange);
  }

  .text-black {
    color: #000;
  }

  .comproasolsona-diapos {
    padding: 10px;
    border: 1px solid #999;
    background: #fff;
    margin-bottom: 50px;
  }

  .bg-trans-left, .bg-trans-right {
    display: flex;
    height: 100%;
    align-items: center;
    div {
      padding: 50px 100px;
      @include media-breakpoint-down(lg) {
        padding: 30px 60px;
      }
    }
    h3 {
      font-weight: normal;
    }
  }
  .bg-trans-left {
    justify-content: flex-start;
    background-image: linear-gradient(100deg, rgba(#fff, 0.2), rgba(#fff, 0.2) 88%, transparent 88.1%, transparent);
    @include media-breakpoint-down(sm) {
      margin-bottom: 30px;
    }
  }
  .bg-trans-right {
    justify-content: flex-end;
    background-image: linear-gradient(100deg, transparent, transparent 12%, rgba(#fff, 0.2) 12.1%, rgba(#fff, 0.2));
  }

  .comproasolsona-comgastar {
    margin-top: 80px;
    padding: 50px 0 80px 0;
    background-image: url("/assets/ensolsonat/img/comgastar.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    @include media-breakpoint-down(sm) {
      padding-bottom: 0;
    }
    h2 {
      text-align: center;
    }
  }

  #form-dades {
    background: $purple;
    color: #FFF;
    max-width: 1110px;
    margin: 0 auto;
    position: relative;
    label {
      padding-top: 6px;
      display: block;
      text-align: right;
    }
  }
  .col-label {
    width: 140px;
    font-weight: bold;
  }

  #form-dades .form-control {
    border: 0;
    border-radius: 0;
  }

  .comproasolsona-comercos {
    padding: 50px 0;
  }

  .envia-dades {
    background: black;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    font-size: 18px;
    border: 0;
    width: 100%;
    &:disabled {
      opacity: 0.5;
    }
  }

  .error-codi {
    background: $purple;
    padding: 10px 20px;
    color: #fff;
    margin-top: 20px;
    max-width: 480px;
    margin: 20px auto;
  }

  #premiat {
    max-width: 800px;
    margin: 0 auto;
    background-image: url("/assets/ensolsonat/img/confeti.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    padding: 100px 50px;
    color: #fff;
  }
  #nopremi {
    max-width: 800px;
    margin: 0 auto;
    padding: 100px 50px;
    color: #fff;
  }

  /* Comerços */

  .dataTables_length,
  .dataTables_filter {
    display: inline-block;
    width: auto;
    margin-right: 20px;
  }
  .dataTables_length select {
    width: 100px;
  }
  .dataTables_filter input {
    width: 300px;
    display: inline-block;
    margin-left: 10px;
  }
  .dataTables_paginate {
    padding: 15px 0;
  }
  .dataTables_paginate a {
    border: 1px solid $orange;
    color: $orange;
    border-radius: 6px;
    padding: 5px 15px;
    cursor: pointer;
  }
  .dataTables_paginate a.current {
    background: $orange;
    color: #fff;
  }
  .ellipsis {
    margin-right: 10px;
  }
  .table td {
    vertical-align: top;
  }
  .dataTables_paginate {
    span, a {
      display: inline-block;
      margin: 0 10px 10px 0;
    }
  }

  .dataTables_info,
  .dataTables_paginate {
    text-align: center;
  }
  .table {
    color: #1d1d1b;
    a {
      color: $orange;
    }
  }

  .mfp-close-btn-in .mfp-close {
    color: #FFF;
    font-size: 40px;
  }

  .mfp-container {
    backdrop-filter: blur(5px);
  }

  // Footer

  .footer-vals {
    padding: 50px 0;
    text-align: center;
  }
  .footer-vals img {
    height: 50px;
    width: auto;
    margin: 0 6px 10px 6px;
  }
  .skyline {
    margin: 0 auto;
    display: block;
    width: 300px;
    max-width: 100%;
    margin-bottom: -8px;
  }

  .pre-footer {
    background: #1d1d1b;
    padding: 60px 20px;
    text-align: center;
  }
  .pre-footer a {
    color: #fff;
    margin: 0 10px;
  }
}
