@use "@/styles" as *;

.itemImg {
    position: relative;
    width: 76px !important;
    img {
        border-radius: $spacer;
        width: 76px;
        height: 76px;
        object-fit: cover;
        object-position: center;
    }
}
.itemContent {
}
.itemQty {
    position: absolute;
    top: -$spacer;
    right: -$spacer;
    display: block;
    background: $secondary-color;
    color: #FFF;
    width: $spacer*3;
    height: $spacer*3;
    text-align: center;
    border-radius: $spacer*3;
}
.itemName {
    margin-top: 0;
    font-weight: 500;
    font-size: 13px;
    margin-bottom: $spacer;
}
.itemInfo {
    font-size: 11px;
}
.itemSubtotal {
    width: 75px !important;
    text-align: right;
    font-size: 13px;
    font-weight: bold;
}
