@use "@/styles" as *;

.map {
    display: grid;
    gap: 1px;
    width: 100%;
    @include media-query('sm') {
        gap: 3px;
    }
}
.seat {
    border-radius: 35% 35% 10% 10%;
    aspect-ratio: 1;
    background: darken($light-color, 5%);
    position: relative;
    &:hover {
        background: darken($light-color, 10%);
    }
    &.booked {
        background: $danger-color;
        cursor: not-allowed;
    }
    &.selected {
        background: $success-color;
    }
    &:after {
        content: '';
        position: absolute;
        width: 70%;
        height: 25%;
        bottom: -1px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 25% 25% 10% 10%;
        background: #FFF;
    }
    &:before {
        content: '';
        position: absolute;
        border-top: 1px solid #ffffff6d;
        width: 50%;
        left: 50%;
        transform: translateX(-50%);
        top: 60%;
    }
}

.tools {
    display: flex;
    gap: 3px;
    button {
        width: $spacer * 3;
        height: $spacer * 3;
        border-radius: $spacer * 0.5;
        border: 0;
        color: #FFF;
        background: $primary-color;
        font-size: 1.25rem;
        line-height: 1.25rem;
    }
}
.stage {
    margin-top: $spacer;
    border-radius: $spacer * 0.5;
    background: $light-color;
    padding: $spacer * 0.5 $spacer;
    text-align: center;
    color: $faded-color;
}